# Logs, caches, and backups
**/.DS_Store
**/*~ 
**/#*#
**/.cache/
**/*.log

# Discord modules or binaries
discord/**/discord_voice.node

# Compiled binaries
*.o
*.so
*.out
*.a

# Editor junk
*.swp
*.swo
*.tmp
.idea/
.vscode/

# Folder
discord/
user-dirs.locale
user-dirs.dirs
dconf/
bpytop/
Electron/
glib-2.0/
go/
gtk-3.0/
nvim/
pulse/
systemd/
yay/
